.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #007aca;
  color: white;
  align-items: center;
}

.nav > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.nav > h3 {
  margin: 0;
  margin-left: 20px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.nav-item > li {
  padding: 10px;
  list-style-type: none;
}

.nav-item > input {
  padding: 5px;
  border-radius: 15px;
  border: 0;
}
